# setting for local DB
tgtid_db:
  db_host: "localhost"
  db_name: "idp"
  db_user: "someuser"
  db_pass: "somepass"

# setting for iam-tools-test spreg
spreg_db_TEST:
  db_host: "somehost"
  db_name: "spregistry_eval"
  db_user: "someuser"
  db_pass: "somepass"
  db_sslrootcert: "/data/local/idp/credentials/iamtools-server-ca.pem"
  db_sslcert: "/data/local/idp/credentials/iamtools-client-cert.pem"
  db_sslkey: "/data/local/idp/credentials/iamtools-client-key.pem"

# setting for iam-tools spreg
spreg_db:
  db_host: "somehost"
  db_name: "spregistry"
  db_user: "someuser"
  db_pass: "somepass"
  db_sslrootcert: "/data/local/idp/credentials/iamtools-server-ca.pem"
  db_sslcert: "/data/local/idp/credentials/iamtools-client-cert.pem"
  db_sslkey: "/data/local/idp/credentials/iamtools-client-key.pem"
