# Secret key for client OIDC integrations.
idp.oidc.subject.salt = see Shibboleth deployment
# Secret key for the Duo Universal Prompt integration.
idp.duo.oidc.secretKey = see Duo admin console
# Secret key for the separate Duo ForceAuthn integration.
idp.forceauthnduoduo.oidc.secretKey = see Duo admin console
# Secret key for the Duo API integration.
uw.idp.duo.api.secretKey = see Duo admin console
