{# this is a jinja2 comment #}
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
                           
       default-init-method="initialize"
       default-destroy-method="destroy">

    <!-- ========================= Attribute resolver activation SPs ========================= -->

    {{ info.warning }}

    <!-- gets gws memberships -->
    <bean id="uw.GetsGwsMemberships" parent="shibboleth.Conditions.RelyingPartyId">
     <constructor-arg name="candidates">
        <list>
            {% for rp in info.gws %}
             <value>{{ rp }}</value>
            {% endfor %}
             <value>oidc/urizen.s.uw.edu</value>
             <value>oidc/mosler.s.uw.edu</value>
             <value>oidc/rupert-localhost</value>
             <value>oidc/uw-beta.cloudtest.docfinity.com</value>
             <value>oidc/uw.cloudtest.docfinity.com</value>
             <value>oidc/uw.cloud.docfinity.com</value>
        </list>
     </constructor-arg>
    </bean>
    
    <!-- gets course (sln) membership -->
    <bean id="uw.GetsCourseMemberships" parent="shibboleth.Conditions.RelyingPartyId">
     <constructor-arg name="candidates">
        <list>
            {% for rp in info.courses %}
            <value>{{ rp }}</value>
            {% endfor %}
        </list>
     </constructor-arg>
    </bean>

    <!-- gets AWS roles -->
    <bean id="uw.GetsAwsRole" parent="shibboleth.Conditions.RelyingPartyId">
     <constructor-arg name="candidates">
        <list>
            <value>urn:amazon:webservices</value>
            <value>https://diafine6.sandbox.iam.s.uw.edu/shibboleth</value>
        </list>
     </constructor-arg>
    </bean>

</beans>
