<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- UW logging - PROD -->

    <!--
    Variables for simplifying logging configuration.
    http://logback.qos.ch/manual/configuration.html#variableSubstitution
    -->
    
    <variable name="idp.logfiles" value="/logs/idp" />
    <variable name="idp.loghistory" value="180" />
    
    <!-- Much higher performance if you operate on DEBUG. -->
    <!-- <variable name="idp.process.appender" value="ASYNC_PROCESS" /> -->
    
    <!-- Logging level shortcuts. -->
    <variable name="idp.loglevel.idp" value="INFO" />
    <variable name="idp.loglevel.ldap" value="WARN" />
    <variable name="idp.loglevel.messages" value="INFO" />
    <variable name="idp.loglevel.encryption" value="INFO" />
    <variable name="idp.loglevel.opensaml" value="INFO" />
    <variable name="idp.loglevel.props" value="INFO" />
    
    <!-- Don't turn these up unless you want a *lot* of noise. -->
    <variable name="idp.loglevel.spring" value="ERROR" />
    <variable name="idp.loglevel.container" value="ERROR" />
    <variable name="idp.loglevel.xmlsec" value="INFO" />
    
    <!-- Syslog address for F-TICKS (see FTICKSLoggingConfiguration). -->
    <variable name="idp.fticks.loghost" value="localhost" />
    <variable name="idp.fticks.logport" value="514" />

    <!--
    If you want to use custom properties in this config file,
    we load the main property file for you.
    -->
    <variable file="${idp.home}/conf/idp.properties" />
    
    <!-- =========================================================== -->
    <!-- ============== Logging Categories and Levels ============== -->
    <!-- =========================================================== -->

    <!-- Logs our addons -->
    <logger name="edu.washington" level="DEBUG"/>

    <!-- Logs oids plugin -->
    <logger name="net.shibboleth.oidc" level="DEBUG"/>

    <!-- Logs http client detail -->
    <logger name="org.apache.http.headers" level="WARN"/>

    <!-- Logs IdP, but not OpenSAML, messages -->
    <logger name="net.shibboleth.idp" level="INFO"/>
    <logger name="net.shibboleth.idp.authn" level="INFO"/>

    <!-- Logs OpenSAML, but not IdP, messages -->
    <logger name="org.opensaml.saml" level="INFO"/>
    
    <!-- Logs LDAP related messages -->
    <logger name="org.ldaptive" level="${idp.loglevel.ldap:-WARN}"/>
    
    <!-- Logs inbound and outbound protocols messages at DEBUG level -->
    <logger name="PROTOCOL_MESSAGE" level="${idp.loglevel.messages:-INFO}" />

    <!-- Logs unencrypted SAML at DEBUG level -->
    <logger name="org.opensaml.saml.saml2.encryption.Encrypter" level="${idp.loglevel.encryption:-INFO}" />

    <!-- Logs system properties during startup at DEBUG level -->
    <logger name="net.shibboleth.idp.log.LogbackLoggingService" level="${idp.loglevel.props:-DEBUG}" />

    <!-- Especially chatty. -->
    <logger name="net.shibboleth.idp.saml.attribute.mapping" level="INFO" />
    <logger name="org.apache.xml.security" level="${idp.loglevel.xmlsec:-INFO}" />
    <logger name="org.springframework" level="${idp.loglevel.spring:-ERROR}"/>
    <logger name="org.apache.catalina" level="${idp.loglevel.container:-ERROR}"/>
    <logger name="org.eclipse.jetty" level="${idp.loglevel.container:-ERROR}"/>


    <!-- =========================================================== -->
    <!-- ============== Low Level Details or Changes =============== -->
    <!-- =========================================================== -->
    
    <!-- Process log. -->
    <appender name="IDP_PROCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${idp.logfiles}/process.log</File>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${idp.logfiles}/process-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${idp.loghistory:-180}</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%date{ISO8601} - %level [%logger:%line] - %msg%n%ex{short}</Pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_PROCESS" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="IDP_PROCESS" />
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="IDP_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Suppress anything below WARN. -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        
        <File>${idp.logfiles}/warn.log</File>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${idp.logfiles}/warn-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${idp.loghistory:-180}</maxHistory>
        </rollingPolicy>
        
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%date{ISO8601} - %level [%logger:%line] - %msg%n%ex{short}</Pattern>
        </encoder>
    </appender>
    
    <!-- Audit log. -->
    <appender name="IDP_AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${idp.logfiles}/audit.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${idp.logfiles}/audit-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${idp.loghistory:-180}</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%msg%n</Pattern>
        </encoder>
    </appender>
    
    <!-- Audit log to syslog. -->
    <appender name="IDP_AUDIT_2" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>logger4.s.uw.edu</syslogHost>
        <facility>LOCAL2</facility>
        <suffixPattern>idp-audit %msg</suffixPattern>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%msg%n</Pattern>
        </encoder>
    </appender>
    
    <!-- Audit log to another syslog. -->
    <appender name="IDP_AUDIT_3" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>uw-log-ads-02.s.uw.edu</syslogHost>
        <facility>LOCAL2</facility>
        <suffixPattern>idp-audit %msg</suffixPattern>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%msg%n</Pattern>
        </encoder>
    </appender>
    
    <!-- Login success and failure to syslog. -->
    <appender name="IDP_PASSWORD" class="ch.qos.logback.classic.net.SyslogAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
          <evaluator>
            <expression>return message.contains("Login by {} failed");</expression>
          </evaluator>
          <OnMismatch>DENY</OnMismatch>
          <OnMatch>NEUTRAL</OnMatch>
        </filter>
        <syslogHost>logger3.s.uw.edu</syslogHost>
        <facility>LOCAL2</facility>
        <throwableExcluded>true</throwableExcluded>
        <suffixPattern>idp-pass |%mdc{idp.remote_addr}|password failed</suffixPattern>
    </appender>

    <!-- Warn log to syslog. -->
    <appender name="IDP_WARN_2" class="ch.qos.logback.classic.net.SyslogAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <syslogHost>logger3.s.uw.edu</syslogHost>
        <facility>LOCAL2</facility>
        <throwableExcluded>true</throwableExcluded>
        <suffixPattern>idp-warn %msg</suffixPattern>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%msg%n</Pattern>
        </encoder>
    </appender>
    
    <!-- Consent audit log. -->
    <appender name="IDP_CONSENT_AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${idp.logfiles}/consent-audit.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${idp.logfiles}/consent-audit-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${idp.loghistory:-180}</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%msg%n</Pattern>
        </encoder>
    </appender>

    <!-- F-TICKS syslog destination. -->
    <appender name="IDP_FTICKS" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>${idp.fticks.loghost:-localhost}</syslogHost>
        <port>${idp.fticks.logport:-514}</port>
        <facility>AUTH</facility>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
    </appender>

    <logger name="Shibboleth-Audit" level="ALL">
        <appender-ref ref="${idp.audit.appender:-IDP_AUDIT}"/>
    </logger>

    <logger name="Shibboleth-Audit-2" level="ALL">
        <appender-ref ref="IDP_AUDIT_2"/>
        <appender-ref ref="IDP_AUDIT_3"/>
    </logger>

    <logger name="Shibboleth-FTICKS" level="ALL" additivity="false">
        <appender-ref ref="${idp.fticks.appender:-IDP_FTICKS}"/>
    </logger>

    <logger name="Shibboleth-Consent-Audit" level="ALL">
        <appender-ref ref="${idp.consent.appender:-IDP_CONSENT_AUDIT}"/>
    </logger>
    
    <root level="${idp.loglevel.root:-INFO}">
        <appender-ref ref="${idp.process.appender:-IDP_PROCESS}"/>
        <appender-ref ref="${idp.warn.appender:-IDP_WARN}" />
        <appender-ref ref="IDP_PASSWORD" />
    </root>

</configuration>
